@media screen and (max-width: 1024px) {

    .header,
    .hero {
        padding: 1.5rem 2rem;
    }

    .hero {
        height: auto;
    }

    .about {
        padding: 4rem 2rem;
    }

    .benefits-container .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 100%;
        gap: 2rem;
    }

    .nav,
    .btn {
        display: none;
    }

    .next-step,
    .prev-step,
    .complete-step,
    .close-thankyou-page {
        display: block;
    }

    .toogle-btn {
        display: block;
    }

    .content,
    .about-container .container {
        display: flex;
        flex-direction: column;
    }

    .left {
        text-align: center;
        justify-content: center;
        padding-top: 12rem;
        width: 100%;
    }

    .about-left {
        text-align: center;
        justify-content: center;
        text-align: justify;
        width: 100%;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons a:nth-child(1),
    .buttons a:nth-child(2) {
        display: block;
    }

    .numbers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .right {
        display: none;
    }

    footer {
        padding: 6rem 2rem 2rem 2rem;
    }
}

@media (max-width: 528px) {

    .left h1 {
        font-size: 2.1rem;
    }

    .left h2 {
        font-size: 1.2rem;
    }

    .left p {
        font-size: 1rem;
    }

    .number h3 {
        font-size: 1.6rem;
    }

    .number p {
        font-size: 1rem;
    }
}